body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.orange-color{
    color: rgba(255, 68, 0, 0.644);
}
.flexible-container{
    display: flex;
}
.vl {
    border-left: 5px solid orangered;
    height: 150px;
    margin-top: 9.5%;
    margin-left: 10%;
  }
.half-width{
    width: 50%;
    padding-left: 1%;
    padding-right: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 60%;
    
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.my-mission{
    margin: 5%;
    
}
#mh{
    text-align: center;
}
.mission-22{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 15px;    
}
.mission-22 img{
    width: 50%;
}
#mission{
    background-color: rgba(141, 98, 184, 0.603);
}
#vission{
    background-color: rgba(238, 164, 222, 0.479);
}
#goals{
    background-color: rgba(238, 99, 99, 0.329);
}