body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.all-section{    
    margin: 3%;
}
h1{
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
}
.vl {
    border-left: 5px solid orangered;
    height: 130px;
    margin-top: 8.5%;
    margin-left: 12%;
    border-radius: 5px;
  }
.half-width{
    width: 50%;
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 5%;
    margin-bottom: 50px;
    
}
.half-width img{
    width: 80%;    
}
.line-hight{
    line-height: 25px;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.my-mission{
    margin: 5%;
    
}
#mh{
    text-align: center;
}
.mission-22{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 15px;    
}
.mission-22 img{
    width: 50%;
}
#mission{
    background-color: rgba(141, 98, 184, 0.603);
}
#vission{
    background-color: rgba(238, 164, 222, 0.479);
}
#goals{
    background-color: rgba(238, 99, 99, 0.329);
}
#extra-hd{
    text-align: center;
}
.develop-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    margin-left: 5%;
}
.community-area{
    padding: 10px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
  
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}
footer span{
    color: tomato;
}
footer h2{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    font-style: italic;
}